@model HospitalSanJoseModel.Doctor

@{
    ViewData["Title"] = "Edit";
}

<div class="card p-3">

    <div class="d-flex justify-content-between">
        <h3>Editar Doctor</h3>
        <a class="align-self-end" role="button" onclick="window.history.back()">Regresar </a>
    </div>

    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" />
        <div class="row mb-3">
            <label asp-for="User.Username" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">
                <input asp-for="User.Username" class="form-control" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="User.FirstName" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">
                <input asp-for="User.FirstName" class="form-control" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="User.LastName" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">
                <input asp-for="User.LastName" class="form-control" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Specialty" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">
                <input asp-for="Specialty" class="form-control" />
                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="YearsOfExperience" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">
                <input asp-for="YearsOfExperience" class="form-control" />
                <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Qualification" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Editar Doctor" class="btn btn-primary" />
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/js/sweetAlert.js"></script>

@if (Model.Response != null && Model.Response.ShowWarning)
{
    <script>
        showAlert('@Model.Response.AlertTitle', '@Model.Response.AlertMessage', '@Model.Response.AlertIcon', false, 'Aceptar').then(confirmed => confirmed && console.log('Work!'));
    </script>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
