@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HospitalSanJose.Models.PersonalInfo
@{
    ViewData["Title"] = "Perfil";

}


<!-- Change Password Form -->
<form asp-action="ChangePassword">

    <div class="row mb-3">
        <label for="Password" class="col-md-4 col-lg-3 col-form-label">Password Actual</label>
        <div class="col-md-8 col-lg-9">
            <input name="Password" type="password" class="form-control" id="Password">
        </div>
    </div>

    <div class="row mb-3">
        <label for="NewPassword" class="col-md-4 col-lg-3 col-form-label">Nuevo Password</label>
        <div class="col-md-8 col-lg-9">
            <input name="newpassword" type="password" class="form-control" id="newPassword">
        </div>
    </div>

    <div class="row mb-3">
        <label for="ReNewPassword" class="col-md-4 col-lg-3 col-form-label">Ingresa de nuevo tu Password</label>
        <div class="col-md-8 col-lg-9">
            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form><!-- End Change Password Form -->
