@model HospitalSanJoseModel.User

@{
    ViewData["Title"] = "Edit";
}

<div class="card p-3">

    <div class="d-flex justify-content-between">
        <h3>Editar Usuario</h3>
        <a class="align-self-end"  asp-action="Index">Regresar a menú Usuarios</a>
    </div>
    
    <hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row mb-3">
            <label asp-for="Username" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">
                <input asp-for="Username" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Email" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">
                <input asp-for="Email" class="form-control" />
            </div>
        </div>

        <div class="row mb-3">
            <label asp-for="FirstName" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">

                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="LastName" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">

                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label" for="changePassword">
                Cambiar Contraseña
            </label>
            <div class="col-md-8 col-lg-9">
                <input class="form-check-input" type="checkbox" for="changePassword" onclick="changePassword()" />
            </div>
        </div>

        <div style="display: none;" id="changePassword" class="row mb-3">
            <label asp-for="Password" class="col-md-4 col-lg-3 col-form-label"></label>
            <div class="col-md-8 col-lg-9">

                <input asp-for="Password" type="password" value="@Model.Password" class="form-control" />

            </div>
        </div>



        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label" asp-for="Activated">
            </label>
            <div class="col-md-8 col-lg-9">
                <input class="form-check-input" asp-for="Activated" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label" asp-for="IsLocked">
            </label>
            <div class="col-md-8 col-lg-9">
                <input class="form-check-input" asp-for="IsLocked" />
            </div>
        </div>
        <div class="form-group">

            <input type="submit" value="Actualizar Usuario" class="btn btn-primary" /> 

        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/js/sweetAlert.js"></script>

@if (Model.Response != null && Model.Response.ShowWarning)
{
    <script>
        showAlert('@Model.Response.AlertTitle', '@Model.Response.AlertMessage', '@Model.Response.AlertIcon', false, 'Aceptar').then(confirmed => confirmed && console.log('Work!'));
    </script>
}
@section Scripts {
    @{
        <script>


            const changePassword = () => {
                $(`#changePassword`).toggle();
            }
        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}
