@model HospitalSanJoseModel.PersonalInfo
@{
    ViewData["Title"] = "Edit";
}

<div class="card p-3">
    <div class="d-flex justify-content-between">
        <h3>Editar Información Personal</h3>
        <a class="align-self-end" role="button" onclick="window.history.back()">Regresar </a>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" />
                <div class="form-group">
                    <label asp-for="User.Username" class="control-label"></label>
                    <input asp-for="User.Username" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="User.FirstName" class="control-label"></label>
                    <input asp-for="User.FirstName" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="User.LastName" class="control-label"></label>
                    <input asp-for="User.LastName" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Dpi" class="control-label"></label>
                    <input asp-for="Dpi" class="form-control" />
                    <span asp-validation-for="Dpi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmergencyPhoneNumber" class="control-label"></label>
                    <input asp-for="EmergencyPhoneNumber" class="form-control" />
                    <span asp-validation-for="EmergencyPhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birthdate" class="control-label"></label>
                    <input asp-for="Birthdate" class="form-control" />
                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressLine1" class="control-label"></label>
                    <input asp-for="AddressLine1" class="form-control" />
                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressLine2" class="control-label"></label>
                    <input asp-for="AddressLine2" class="form-control" />
                    <span asp-validation-for="AddressLine2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaritalStatus" class="control-label"></label>
                    <input asp-for="MaritalStatus" class="form-control" />
                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
