@model HospitalSanJoseModel.DTO.Auth.Register
@{
    ViewData["Title"] = "Register"; 
    Layout = "~/Views/Auth/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
                <a href="index.html"
                   class="logo d-flex align-items-center w-auto">
                    <img src="~/img/logo.png"
                         alt="" />
                    <span class="d-none d-lg-block">Hospital San José</span>
                </a>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
                <div class="card-body">
                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Crea tu cuenta</h5>
                        <p class="text-center small">
                            Ingresa tu informacion personal
                        </p>
                    </div>

                    <form class="row g-3 needs-validation" asp-action="Register" method="post"
                          novalidate>
                        <div class="col-md-6">
                            <label 
                                   class="form-label">Nombre</label>
                            <input type="text"
                                   name="firstName"
                                   class="form-control"
                                   id="firstName"
                                   required />
                            <div class="invalid-feedback">Por favor ingresa tu nombre!</div>
                        </div>
                        <div class="col-md-6">
                            <label 
                                   class="form-label">Apellido</label>
                            <input type="text"
                                   name="LastName"
                                   class="form-control"
                                   id="LastName"
                                   required />
                            <div class="invalid-feedback">Por favor ingresa tu Apellido!</div>
                        </div>
                        <div class="col-12">
                            <label 
                                   class="form-label">Correo</label>
                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   id="email"
                                   required />
                            <div class="invalid-feedback">
                                Por favor ingresa un correo valido!
                            </div>
                        </div>

                        <div class="col-12">
                            <label 
                                   class="form-label">Usuario</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"
                                      id="inputGroupPrepend">@@</span>
                                <input type="text"
                                       name="username"
                                       class="form-control"
                                       id="username"
                                       required />
                                <div class="invalid-feedback">Por favor ingresa tu usuario.</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label 
                                   class="form-label">Password</label>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   id="password"
                                   required />
                            <div class="invalid-feedback">Por favor ingresa tu password!</div>
                        </div>
                        <div class="col-12">
                            <label 
                                   class="form-label">Confirma tu Password</label>
                            <input type="password"
                                   name="Confirmpassword"
                                   class="form-control"
                                   id="Confirmpassword"
                                   required />
                            <div class="invalid-feedback">Por favor ingresa tu password!</div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100"
                                    type="submit">
                                Crear Cuenta
                            </button>
                        </div>
                        <div class="col-12">
                            <p class="small mb-0">
                                Ya posees una cuenta? <a href="/auth/login">Log in</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/js/sweetAlert.js"></script>

@if (Model!=null &&Model.Response != null && Model.Response.ShowWarning)
{
    <script>
        showAlert('@Model.Response.AlertTitle', '@Model.Response.AlertMessage', '@Model.Response.AlertIcon', false, 'Aceptar').then(confirmed => confirmed && console.log('Work!'));
        
     
    </script>
}