@model HospitalSanJoseModel.DTO.DoctorDepartment.DoctorDepartmentCreate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DoctorDepartment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3">
                <input type="hidden" asp-for="Doctor.UserId" />
                <label asp-for="Doctor.User.Username" class="col-md-4 col-lg-3 col-form-label"></label>
                <div class="col-md-8 col-lg-9">

                    <select asp-for="DoctorId"
                            asp-items="@Model.Doctors"
                            class="form-control"
                            onchange="UserChanged()"></select>
                    <span asp-validation-for="Doctor.User" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Doctor.User.FirstName" class="col-md-4 col-lg-3 col-form-label"></label>
                <div class="col-md-8 col-lg-9">
                    <input asp-for="Doctor.User.FirstName" class="form-control" disabled />

                </div>

            </div>
            <div class="row mb-3">
                <label asp-for="Doctor.User.LastName" class="col-md-4 col-lg-3 col-form-label"></label>
                <div class="col-md-8 col-lg-9">
                    <input asp-for="Doctor.User.LastName" class="form-control" disabled />

                </div>

            </div>
            <div class="row mb-3">
                <label asp-for="Doctor.User.Email" class="col-md-4 col-lg-3 col-form-label"></label>
                <div class="col-md-8 col-lg-9">
                    <input asp-for="Doctor.User.Email" class="form-control" disabled />

                </div>

            </div>

            <div class="row mb-3">
                <label asp-for="DepartmentId" class="col-md-4 col-lg-3 col-form-label"></label>
                <div class="col-md-8 col-lg-9">

                    <select asp-for="DepartmentId" class="form-control" asp-items="@Model.Departments"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/DoctorDepartmentCreate.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
